.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/*blue*/
}

.b2 {
	background-color: #9696ff;
	/*orange*/
}

.b3 {
	background-color: #85e1f4;
	/*green*/
}

.b4 {
	background-color: #e89380;
	/*purple*/
}
.transition .b1{
	transition: width 1000ms ease-in-out;
}
.transition .b1:hover{
	width: 400px;
	height: 150px;
}
.transition .b2{
	transition: width 1s, height .5s;
	transition-delay: .5s;
}
.transition .b2:hover{
	width: 250px;
	height: 250px;
}
.transition .b3{
 transform:rotate(20deg) 2s cubic-bezier(.17,.67,.96,.33) .5s;
}
.tansition .b3:hover{
 transform: rotate(30deg);
}
.transition .b4{
	transform: all 1s ease-in-out .5s;
}
.transition .b4:hover{
	transform: rotate(320deg);
	border-radius: 50%;
	background-color: #9696ff;
}
/* 
  Transform */
  .transform .box{
	transition: transform .5s;
  }

.transform .b1{
	transform: rotate(60deg);
	transform-origin: bottom right;
}
.transform .b1:hover{
	transform: rotate(0deg);
}
.transform .b2:hover{
	transform: translate(20px, 20px);
}
.transform .b3:hover{
	transform: rotate(60deg);
	transform-origin: top right bottom;
}
.transform .b3:hover{
	transform: scale(1.5);
}
.transform .b4{
	transform: skewX(15deg) translateX(30px);
}
.transform .b4:hover{
	transform: skewX(0);
}